.Home {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.search-bar{
    /* search-bar */
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    margin: 0 auto;
    margin-top: 100px;
    width: 462px;
    height: 38px;
    /* left: 44px;
    top: 189px; */

    /* white */

    background: #FFFFFF;
    /* gray/300 */

    border: 1px solid #D1D5DB;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}
.search-bar-input{
    padding-left: 10px;
    width: 90%;
    cursor: pointer;
}

.search-bar-icon{
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    padding: 10px;
}
.search-output{
    display: flex;
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
}
.search-output-tile{
    width: 125px;
    height: 125px;
    font-size: 1.3em;
    color: #2a9d8f;
    font-weight: bold;
    background-color: rgba(16, 62, 56, 0.25);
    border: 2px solid #2a9d8f;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    margin: 10px;
    cursor: pointer;

}
.create-list-btn {
    border: none;
    width: 150px;
    margin: 0 auto;
    background: none;
    padding: 10px;
    cursor: pointer;
    
}

.create-list-form{
    box-sizing: border-box;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    padding-left: 40px;

    margin: 0 auto;
    margin-top: 10px;
    width: 462px;
    height: 38px;
    /* left: 44px;
    top: 189px; */

    /* white */

    background: #FFFFFF;
    /* gray/300 */

    border: 1px solid #D1D5DB;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    justify-content: space-between;

}

.creat-list-form-btn{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 11px 9px 17px;
    gap: 8px;
    
    width: 120px;
    height: 38px;
    
    /* gray/50 */
    
    background: #F9FAFB;
    /* gray/300 */
    
    border: 1px solid #D1D5DB;
    border-radius: 0px 6px 6px 0px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: flex-end;
    flex-grow: 0;
}

.create-list-form-input{
    width: 80%;
}