li {
    list-style-type: none;  

}

.listcontent-container{
    display: flex;
    flex-direction: row;
}

.mylist-container {
    background-color: #F9FAFB;
    height:860px;
    width: 13%;

}

.list-container{
    display: flex;
    flex-direction: row;
}

.listName-header{
    /* border: 2px solid #219ebc; */
    margin: 0px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 6px;
}

textarea{
    resize: none;
}

.link-homepage{
    font-size: 3em;
    text-align: center;
    margin: 30px;
    color: black;
    text-decoration: none;

}

.link-homepage:link{
    font-size: 3em;
    text-align: center;
    margin: 30px;
    color: black;
    text-decoration: none;

}