.todo-container{
    display:flex;
    flex-direction: column;
    width: 250px;
    background-color:rgba(133,130,130, 0.7);
    border: 1.5px solid #E5E7EB;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 10px;
}

.checklist{
    display: flex;
    /* border: 2px solid pink; */
    border-bottom: 2px solid #E5E7EB;
    width: 230px;
    padding-bottom: 3px;
    padding-left: 10px;
    margin: 0px;
    justify-content: space-between;
}

.checklist-checkbox{
    flex: none;
    order: 1;
    align-self: flex-end;
}

#completed {

}

.checklist-total{
    min-height: 650px;
    border: 1px solid white;
    border-radius: 6px;
}

p {
    padding: 5px;
    margin: 0px;
}

.checklist-add{
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-self: flex-end;
}


.new-list-btn{
    width: 100px;
    height: 50px;
    margin-top: 10px;
}