.App {
    margin: 0px;
    padding: 0px;

}

footer{
    background: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px;
    margin:0px;
    border-top: 1px rgba(0,0,0,0.5) solid;
    /* border: 2px red solid; */
}